<div class="row">
    <h1>Hard y Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'PHP'"
  [titleColor]="'#A01C47'"
  [titleFontSize]="'3em'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#A01C47'"
  [innerStrokeColor]="'#A7506C'"
  [animation]="true"
  [animationDuration]="900"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'GITHUB'"
  [titleColor]="'#A01C47'"
  [titleFontSize]="'3em'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#A01C47'"
  [innerStrokeColor]="'#A7506C'"
  [animation]="true"
  [animationDuration]="900"
></circle-progress>
</div>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'IDIOMAS'"
  [titleColor]="'#A01C47'"
  [titleFontSize]="'3em'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#A01C47'"
  [innerStrokeColor]="'#A7506C'"
  [animation]="true"
  [animationDuration]="900"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
  [percent]="50"
  [radius]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'HTML'"
  [titleColor]="'#A01C47'"
  [titleFontSize]="'3em'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#A01C47'"
  [innerStrokeColor]="'#A7506C'"
  [animation]="true"
  [animationDuration]="900"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
 [percent]="85"
 [radius]="100"
 [showUnits]="false"
 [showSubtitle]="false"
 [title]="'JAVA'"
 [titleColor]="'#A01C47'"
 [titleFontSize]="'3em'"
 [outerStrokeWidth]="16"
 [innerStrokeWidth]="8"
 [outerStrokeColor]="'#A01C47'"
 [innerStrokeColor]="'#A7506C'"
 [animation]="true"
 [animationDuration]="900"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
  [percent]="50"
  [radius]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'SOCIAL'"
  [titleColor]="'#A01C47'"
  [titleFontSize]="'3em'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#A01C47'"
  [innerStrokeColor]="'#A7506C'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>
</div>