<div class="row">
    <h1>Educacion</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul>
        <li>
            <h1>Estudios1</h1> - 
            <h3>Años</h3>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta unde officia velit molestias, iure nostrum. Sapiente ipsa, veritatis suscipit quos iusto mollitia eum est harum perferendis, id, sint esse? Consectetur.</p>
    </ul>
    <ul>
        <li>
            <h1>Estudios2</h1> - 
            <h3>Años</h3>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta unde officia velit molestias, iure nostrum. Sapiente ipsa, veritatis suscipit quos iusto mollitia eum est harum perferendis, id, sint esse? Consectetur.</p>
    </ul>
    <ul>
        <li>
            <h1>estudios3</h1> - 
            <h3>Años</h3>
        </li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta unde officia velit molestias, iure nostrum. Sapiente ipsa, veritatis suscipit quos iusto mollitia eum est harum perferendis, id, sint esse? Consectetur.</p>
    </ul>
</div>
</div>
